*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h3{
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
    padding: 0;
    margin-right: 10px;
}

li a, .oneandtwo{
    display: inline-block;
}

li a, .threeandfour{
    display: inline-block;
}

.header{
    height: 30px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: aqua;
    padding: 30px;
}

ul li a:hover{
    background-color: gold;
}

ul li:hover{
    background-color: beige;
}

.oneandtwo{
    display: none;
    position: absolute;
    z-index: 1;
    padding: 10px;
    background-color: yellow;
}

.oneandtwo a{
    display: block;
    padding: 3px;
}

.drop1:hover .oneandtwo{
    display: block;
}

.threeandfour{
    display: none;
    position: absolute;
    z-index: 1;
    padding: 10px;
    background-color: yellow;
}

.threeandfour a{
    display: block;
    padding: 3px;
}

.drop2:hover .threeandfour{
    display: block;
}

#sect1{
    padding: 50px 30px;
    min-height: 100vh;
    display: flex;
    background-color: brown;
}

#sect2{
    padding: 50px 30px;
    min-height: 100vh;
    display: flex;
    background-color: green;
}

#sect3{
    padding: 50px 30px;
    min-height: 100vh;
    background-color: purple;
}

#sect4{
    padding: 50px 30px;
    min-height: 100vh;
    background-color: cadetblue;
}